*{
  margin:0;
  padding:0;
}

body{
  margin:0;
  padding:0;
  background-image: linear-gradient(to right, #ffefba, #ffffff);
}

.game{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#gameboard{
  display: flex;
  flex-wrap: wrap;
  justify-self: center;
  align-items: center;
  height: 300px;
  justify-content: center;
  margin:3rem;
  width: 450px;
  gap:1rem
}

.square{
  display: flex;
  flex-wrap: wrap;
  border:1px solid black;
  float: left;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 30%;
  text-align: center;
  font-size: 80px;
}

#control{
  margin:3rem;
  display: flex;
  align-items: center;
  align-items: center;
  gap:1rem;
}

#control button{
  padding:.5rem 2rem;
  border-radius: 10px;
  border: 1px solid black;
  background-color: #ffefba;
}

#control input{
  padding: .5rem 1rem;
  border-radius: 10px;
  border: 1px solid black;
  background-color: #ffefba;
}